<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

<section id="contacts" class="contact-section py-5">
  <div class="container">

    <div class="text-center mb-5 fade-up">
  <h2 class="fw-bold display-6">تواصل معنا</h2>
  <p class="text-muted">
    يمكنك التواصل معنا من خلال المعلومات التالية أو زيارة موقعنا مباشرة
  </p>
</div>

<div class="row g-4">

  <div class="col-lg-4 fade-up">
    <div class="contact-box d-flex flex-column justify-content-end align-content-end">

      <div class="info-item">
        <i class="bi bi-geo-alt-fill text-danger"></i>
        <div>
          <h5>العنوان</h5>
          <p>مصر - القاهرة - وسط البلد - شارع التحرير </p>
        </div>
      </div>

      <div class="info-item">
        <i class="bi bi-telephone-fill text-success"></i>
        <div>
          <h5>أرقام الهاتف</h5>
          <p dir="ltr" class="mb-1">+20 1030648381</p>
          <p dir="ltr" class="mb-0">+20 1098666306</p>
        </div>
      </div>

      <a href="https://wa.me/201098666306" target="_blank" class="info-item text-decoration-none text-dark">
        <i class="bi bi-whatsapp text-success"></i>
        <div>
          <h5>واتساب</h5>
          <p class="text-muted">اضغط هنا لبدء محادثة مباشرة</p>
        </div>
      </a>

      <a href="https://smartxeg.com" target="_blank" class="info-item text-decoration-none text-dark">
        <i class="bi bi-globe text-primary"></i>
        <div>
          <h5>الموقع الإلكتروني</h5>
          <p dir="ltr">www.smartxeg.com</p>
        </div>
      </a>

      <div class="info-item">
        <i class="bi bi-clock-fill text-warning"></i>
        <div>
          <h5>مواعيد العمل</h5>
          <p>يوميًا من 9 صباحًا حتى 12 مساءً</p>
        </div>
      </div>

    </div>
  </div>
      <div class="col-lg-8 fade-up">
        <div class="map-box">

          <iframe
            src="https://maps.google.com/maps?q=Cairo&t=&z=13&ie=UTF8&iwloc=&output=embed"
            loading="lazy">
          </iframe>

          <div class="text-center mt-3">
            <a href="https://www.google.com/maps/place/%D8%B3%D9%85%D8%A7%D8%B1%D8%AA+%D8%A7%D9%83%D8%B3+%D9%84%D9%84%D8%AA%D8%AC%D8%A7%D8%B1%D9%87+%D9%88+%D8%A7%D9%84%D8%AA%D9%88%D8%B1%D9%8A%D8%AF%D8%A7%D8%AA%E2%80%AD/@30.0449012,31.2417279,17z/data=!4m8!3m7!1s0x1458475c0fb8c3e7:0x999eb9d29753bb15!8m2!3d30.0449012!4d31.239153!9m1!1b1!16s%2Fg%2F11w_w69fw_?entry=ttu&g_ep=EgoyMDI2MDUyMC4wIKXMDSoASAFQAw%3D%3D"
               target="_blank"
               class="btn btn-dark px-4 rounded-pill">
              افتح في خرائط جوجل
            </a>
          </div>

        </div>
      </div>

    </div>

  </div>
</section>